*,

*::before,
*::after {
  box-sizing: border-box;
}


.App {
  font-family: sans-serif;
  overflow-x: hidden;
  width: fit-content;
  
}.cardss {
    display: flex;
    margin: 5px 5px;
    flex-wrap: wrap;
    justify-content: center;
}.srch {
  background-color: red;
  color: white;
  padding: 10px 10px;
  border: none;

  font-weight: 500;
}
